/* макет шириной 1200 */
@media screen and (min-width: 993px) {

    $color_1: rgba(141, 129, 172, 255);
    $color_2: #e2e2e3;
    $color_3: rgba(255, 255, 255, 255);
    $color_4: white;
    $color_5: #8d81ac;
    $color_6: rgba(132, 142, 151, 255);
    $color_7: rgba(99, 92, 115, 255);
    $color_8: rgba(50, 50, 50, 255);
    $color_9: #333333;
    $color_10: #535353;
    $color_11: rgba(0, 0, 0, 255);
    $color_12: #f3f3f3;
    $color_13: #26a6d1;
    $color_14: #3b5998;
    $color_15: rgba(162, 145, 165, 255);
    $color_16: #978a98;
    $color_17: #8a7a84;
    $color_18: rgba(200, 203, 207, 255);
    $color_19: rgba(200, 203, 207, 0.7);
    $color_20: rgba(51, 51, 51, 255);
    $color_21: #9a90b6;
    $color_22: #323232;
    $color_23: rgba(63, 63, 63, 255);
    $font-family_1: "Montserrat", sans-serif;
    $font-family_2: "Montserrat-Regular", sans-serif;
    $font-family_3: "Lato-BoldItalic", sans-serif;
    $font-family_4: 'Montserrat-Bold', sans-serif;
    $font-family_5: "Montserrat-Bold", sans-serif;
    $font-family_6: "Montserrat-regular", sans-serif;
    $background-color_1: #27262a;
    $background-color_2: #8d81ac;
    $background-color_3: #e2e2e3;
    $background-color_4: rgba(255, 255, 255, 255);
    $background-color_5: #f4f4f4;
    $background-color_6: #ffffff;
    $background-color_7: #f3f3f3;
    $background-color_8: #2b414d;
    $background-color_9: #26a6d1;
    $background-color_10: white;
    $background-color_11: #3b5998;
    $background-color_12: #695b6b;
    $background-color_13: rgba(106, 87, 106, 0.5);
    $background-color_14: #746a77;
    $background-color_15: #d2ccd2;
    $background-color_16: rgba(63, 47, 63, 1);
    $background-color_17: rgba(63, 47, 63, 0.5);

  

body {
    margin: 0px;
	display: block;
}

.page {
	width: 100%;
	height: 4537px;
	margin: 0 auto;
	align-content: center;
}  

/*NAVIGATION SECTION START*/

.navigation {
    background-color: $background-color_1;
}
.nav-content {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;
}
.menu {
    width: 1200px;
    height: 100px;
    margin: 0px;
    display: inline-flex;

  &__logo {
    width: 151px;
    height: 41px;
    margin: 29px 339px 30px 0px;
    display: inline-flex;
}
  &__logo-img {
    width: 43px;
    height: 41px;
    padding-right: 17px;
    margin: 0px;
}
  &__logo-name {
    width: 91px;
    height: 18px;
    padding: 9px 0px 19px 0px;
    font-size: 24px;
    color: $color_1;
    margin: 0px;
    font-family: $font-family_1;
    font-weight: 500;
    &:hover {
        color: $color_2;
    }
}
&__list {
    width: 517px;
    height: 13px;
    margin: 42px 0px 46px 0px;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    list-style-type: none;
    padding: 0px;
}
&__list-item {
    font-size: 16px;
    color: $color_1;
    text-align: left;
    text-decoration: none;
    font-family: $font-family_1;
    font-weight: 600;
    &:hover {
        color: $color_2;
    }
}
&__button {
    width: 140px;
    height: 38px;
    margin: 31px 0px 31px 48px;
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_3;
    text-align: center;
    border-radius: 26px;
    background-color: $background-color_2;
    color: $color_4;
    outline: none;
    border: 0px;
    font-weight: 600;
    &:hover {
        background-color: $background-color_3;
        color: $color_5;
    }
}

}

/*FORKIO PAGE INFO START*/

.application {
    margin: 0px;
    background-image: url('../img/img1200/img@1X.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.app-content {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;
}
.app-info {
    width: 1200px;
    height: 700px;

 &__header {
    height: 77px;
    padding: 60px 0px 18px 0px;
    font-family: $font-family_1;
    font-size: 60pt;
    color: $color_4;
    text-align: center;
    margin: 0px;
    font-weight: 700;
    font-stretch: condensed;
}
 &__slogan {
    height: 23px;
    padding: 0px;
    font-family: $font-family_1;
    font-size: 22pt;
    color: $color_1;
    text-align: center;
    font-weight: 400;
    margin: 0px;
}
 &__text {
    height: 23px;
    padding: 18px 0px 450px 0px;
    font-family: $font-family_1;
    font-size: 12pt;
    color: $color_6;
    text-align: center;
    font-weight: 100;
    margin: 0px;
}
 &__button {
    width: 390px;
    height: 62px;
    padding: 0px;
    margin: 0 auto;
    display: block;
    font-family: $font-family_1;
    font-size: 15pt;
    color: $color_3;
    background-color: $background-color_2;
    border-radius: 5px;
    outline: none;
    border: none;
    border-radius: 32px;
    font-weight: 600;
    &:hover {
        color: $color_5;
        background-color: $background-color_4;
        border: 1px Solid #8d81ac;
    }
}
 &__comment {
    height: 14px;
    padding: 19px 0px 0px 0px;
    font-family: $font-family_1;
    font-size: 14px;
    color: $color_6;
    text-align: center;
    margin: 0px;
    font-weight: 100;
}
}

/* REVOLUTION BUTTON START*/

.revolution {
    margin: 0px;
}
.rev {
    width: 1200px;
    height: 394px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;

  &__name {
    height: 40px;
    margin: 0px;
    padding: 131px 0px 38px 0px;
    font-family: $font-family_1;
    font-size: 39pt;
    color: $color_7;
    text-align: center;
    font-weight: 700;
}
  &__slogan {
    height: 52px;
    margin: 0px;
    font-family: $font-family_1;
    font-size: 14pt;
    color: $color_8;
    text-align: center;
    font-weight: 500;
    align-items: center;
    vertical-align: middle;
    padding: 0px;
    line-height: 26px;
}
  &__button {
    width: 375px;
    height: 26px;
    margin: 36px 400px 70px 400px;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}
}

.button {
    width: 116px;
    height: 26px;
    padding: 0px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #32323218;
    font-family: $font-family_1;
    font-weight: 700;
    color: $color_9;
    text-decoration: none;
    background-color: $background-color_5;
    display: inline-flex;
}
.button-first {
    width: 76px;
    height: 26px;
    font-size: 12px;
    margin: 0px;
    padding-top: 5px;
    border-right: 1px Solid #32323218;
}
.button-second {
    width: 46px;
    height: 21px;
    background-color: $background-color_6;
    color: $color_9;
    font-size: 12px;
    margin: 0px;
    padding-top: 5px;
}

/*RESALT SECTION START*/

.result-section {
    background-color: $background-color_5;
    margin: 0px;
    overflow: hidden;
}
.result-content {
    width: 1200px;
    height: 711px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;
}
.result {
    width: 1200px;
    height: 711px;
    margin: 0px;
    display: inline-flex;

  &__left {
    width: 610px;
    height: 711px;
    margin: 0px;
    align-content: left;
}
  &__right {
    width: 571px;
    height: 711px;
    align-content: right;
}
  &__right-text {
    width: 571px;
    height: 46px;
    margin: 84px 0px 29px 0px;
    font-size: 35.21437pt;
    font-family: $font-family_1;
    color: $color_1;
    text-align: left;
    font-weight: 700;
    &::first-letter {
        color: $color_1;
    }
}
  &__right-img {
    transform: translate(-2%, 0px);
}
}

.left {
    width: 499px;
    height: 542px;
    margin: 100px 115px 69px 0px;
    display: list-item;
    list-style-type: none;

  &__info {
    width: 498px;
    height: 110px;
    margin-bottom: 34px;
    display: inline-flex;
}
  &__info-pict {
    width: 111px;
    height: 110px;
    margin: 0px;
}
  &__info-pict-img {
    margin: 0 auto;
    font-family: $font-family_1;
    align-content: center;
}
  &__info-text {
    height: 110px;
    width: 350px;
    margin-left: 23px;
}
  &__info-text-header {
    width: 365px;
    height: 13px;
    padding: 0px 0px 20px 0px;
    font-family: $font-family_1;
    font-size: 11.73812pt;
    color: $color_8;
    margin: 0px;
    font-weight: 400;
}
  &__info-text-cont {
    width: 365px;
    height: 77px;
    padding: 0px 0px 0px 0px;
    font-family: $font-family_1;
    font-size: 10.27086pt;
    color: $color_6;
    margin: 0px;
    line-height: 19px;
    font-weight: 100;
}
}



/*STEVEN STRANGE SECTION START*/


.steven-section {
    margin: 0px;
}
.steven {
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;

  &__logo {
    width: 301px;
    height: 88px;
    margin: 85px 0px 47px 0px;
    display: inline-flex;
    transform: translate(150%, -1%);
}
  &__logo-img {
    width: 88px;
    height: 88px;
    margin: 0px;
    border-radius: 50%;
}

.steven-img {
    width: 88px;
    height: 88px;
    margin: 0px;
    border-radius: 50%;
}
  &__logo-info {
    width: 191px;
    height: 88px;
    margin: 0px 0px 0px 22px;
    display: list-item;
    list-style-type: none;
}
  &__logo-info-name {
    width: 195px;
    height: 22px;
    padding: 24px 0px 7px 0px;
    font-family: $font-family_1;
    font-size: 24px;
    color: $color_7;
    display: list-item;
    margin: 0px;
    font-weight: 700;
}
  &__logo-info-text {
    width: 80px;
    height: 15px;
    font-family: $font-family_1;
    color: $color_1;
    padding: 0px 0px 20px 0px;
    font-weight: 300;
    margin: 0px;
    display: list-item;
    font-size: 16px;
    color: $color_1;
}
  &__scroll {
    width: 900px;
    height: 92px;
    margin: 0 auto;
    align-content: center;
}
  &__scroll-info {
    width: 900px;
    height: 52px;
    margin: 0px;
    display: inline-flex;
    justify-content: space-between;
}
  &__scroll-info-btn {
    width: 7px;
    height: 14px;
    padding: 18px;
    display: inline-flex;
    justify-content: space-between;
    background: transparent;
    border: none;
    outline: none;
    img {
        width: 7px;
        height: 14px;
        font-family: $font-family_1;
        transform: translate(0px, -8px);
    }
}
.carousel {
    width: 700px;
    height: 52px;
    overflow: hidden;
}
.item {
    width: 700px;
    height: 52px;
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_10;
    text-align: justify;
    line-height: 26px;
    text-align: center;
    display: block;
    font-weight: 400;
}
#swap1 {
    display: block;
}
#swap2 {
    display: none;
}
.item-span {
    color: $color_5;
}
  &__scroll-addit {
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_6;
    text-align: center;
    margin-top: 24px;
}
  &__buttons {
    width: 800px;
    height: 79px;
    margin: 118px 0px 80px 0px;
    align-content: center;
    display: inline-flex;
    justify-content: space-between;
    transform: translate(25%, 0%);
}
  &__buttons-networks {
    width: 235px;
    height: 79px;
    margin: 0px;
}
i.fab {
    font-weight: 3px;
    margin: 0px;
    transform: translate(-45px,0px);
}
  &__buttons-netw-github {
    width: 240px;
    height: 50px;
    margin-bottom: 18px;
    font-size: 21px;
    color: $color_11;
    text-align: center;
    background-color: $background-color_7;
    font-family: $font-family_1;
    border: 0px;
    border-radius: 5px;
    outline: none;
    font-weight: 400;
    &:hover {
        background-color: $background-color_8;
        color: $color_12;
    }
}
  &__buttons-netw-info {
    width: 240px;
    height: 11px;
    margin: 0px;
    font-family: $font-family_2;
    font-size: 14px;
    color: $color_6;
    text-align: center;
    font-weight: 200;
}
  &__buttons-netw-twitter {
    width: 240px;
    height: 50px;
    margin-bottom: 18px;
    font-size: 21px;
    color: $color_4;
    border: 0px;
    text-align: center;
    background-color: $background-color_9;
    font-family: $font-family_1;
    border-radius: 5px;
    outline: none;
    font-weight: 300;
    &:hover {
        background-color: $background-color_10;
        color: $color_13;
        border: 1px Solid #26a6d1;
    }
}
  &__buttons-netw-facebook {
    width: 240px;
    height: 50px;
    margin-bottom: 18px;
    font-size: 21px;
    color: $color_4;
    border: 0px;
    text-align: center;
    background-color: $background-color_11;
    font-family: $font-family_1;
    border-radius: 5px;
    outline: none;
    font-weight: 300;
    &:hover {
        background-color: $background-color_10;
        color: $color_14;
        border: 1px Solid #3b5998;
    }
}
}

/* PEOPLE SECTION START*/

.advertising {
    margin: 0px;
    background-image: url('../img/img1200/Layer11.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.adv {
    width: 1200px;
    height: 764px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;

  &__slogan {
    height: 46px;
    margin: 0px;
    align-content: center;
    padding: 98px 0px 92px 0px;
    font-size: 35.21437pt;
    color: $color_3;
    font-family: $font-family_1;
    font-weight: 700;
    text-align: center;
}
  &__components {
    width: 1184px;
    height: 377px;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
  &__components-item {
    width: 319px;
    height: 138px;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
  &__components-item-img {
    margin: 0px;
    height: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    span {
        font-family: $font-family_1;
        font-weight: 800;
        font-size: 27px;
        padding-left: 10px;
        color: $color_4;
    }
}
  &__components-item-text {
    width: 319px;
    height: 62px;
    font-size: 15px;
    color: $color_3;
    text-align: center;
    font-family: $font-family_3;
    font-style: italic;
    font-weight: 500;
    line-height: 24px;
}
  &__subtext {
    height: 51px;
    align-content: center;
    margin: 0 auto;
}
  &__subtext-info {
    height: 33px;
    padding-bottom: 6px;
    padding-top: 119px;
    font-size: 14px;
    color: $color_15;
    text-align: center;
    font-family: $font-family_3;
    line-height: 19px;
}
  &__subtext-img {
    height: 2px;
    align-content: center;
    transform: translate(27%, 0);
}

/* PRISING SECTION START*/

.subscription-pricing {
    margin: 0px;
    background-image: url('../img/img1200/Layer2.png');
    background-size: cover;
}
.pricing {
    width: 1200px;
    height: 878px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;

  &__name {
    width: 633px;
    height: 46px;
    margin: 0 auto;
    padding: 78px 0px 122px 0px;
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-weight: 700;
    font-size: 35.21437pt;
}
  &__block {
    width: 1113px;
    height: 457px;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 43px;
    margin-right: 43px;
}
  &__block-filling {
    width: 257px;
    height: 457px;
    width: 257px;
    height: 457px;
}
  &__block-filling-name {
    width: 257px;
    height: 17px;
    background-color: $background-color_12;
    opacity: 0.9;
    font-size: 17.60719pt;
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-weight: 100;
    padding: 40px 0px 40px 0px;
}
  &__block-filling-info {
    width: 257px;
    height: 360px;
    background-color: $background-color_13;
}
  &__block-filling-info-price {
    height: 50px;
    font-family: $font-family_1;
    font-size: 58px;
    color: $color_4;
    text-align: center;
    padding: 32px 0px 27px 0px;
    margin: 0px;
    font-weight: 700;
    span {
        font-weight: 400;
        font-family: $font-family_1;
    }
}
  &__block-filling-info-time {
    height: 11px;
    font-family: $font-family_1;
    padding-bottom: 39px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    color: $color_16;
    font-weight: 100;
}
  &__block-filling-info-img {
    height: 5px;
    margin: 0px;
    text-align: center;
}
  &__block-filling-info-text {
    height: 44px;
    font-family: $font-family_1;
    padding: 34px 0px 37px 0px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $color_3;
}
  &__block-filling-info-purshase {
    width: 160px;
    height: 42px;
    margin: 0px;
    border-radius: 35px;
    background-color: $background-color_14;
    border: 0px;
    font-size: 11.00449pt;
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-weight: 400;
    margin: 0px 48px 38px 49px;
    outline: none;
    &:hover {
        color: $color_17;
        background-color: $background-color_15;
    }
}
  &__block-agency {
    width: 299px;
    height: 560px;
    transform: translate(0px, -51px);
}
  &__block-agency-name {
    width: 299px;
    height: 17px;
    background-color: $background-color_16;
    font-size: 17.60719pt;
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-weight: 100;
    padding: 43px 0px 52px 0px;
}
  &__block-agency-info {
    width: 299px;
    height: 449px;
    background-color: $background-color_17;
    position: relative;
}
  &__block-agency-info-price {
    height: 78px;
    font-family: $font-family_1;
    font-size: 74px;
    color: $color_4;
    text-align: center;
    padding: 15px 0px 21px 0px;
    margin: 0px;
    font-weight: 700;
    span {
        font-weight: 400;
        font-family: $font-family_1;
    }
}
  &__block-agency-info-time {
    height: 11px;
    font-family: $font-family_1;
    padding-bottom: 49px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    color: $color_16;
    font-weight: 100;
}
  &__block-agency-info-img {
    height: 5px;
    margin: 0px;
    text-align: center;
}
  &__block-agency-info-text {
    height: 48px;
    font-family: $font-family_1;
    padding: 41px 0px 82px 0px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $color_3;
}
  &__block-agency-info-purshase {
    width: 190px;
    height: 52px;
    margin: 0px;
    border-radius: 35px;
    background-color: $background-color_14;
    border: 0px;
    font-size: 13.00449pt;
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-weight: 400;
    margin: 0px 54px 47px 55px;
    outline: none;
    &:hover {
        color: $color_17;
        background-color: $background-color_15;
    }
}

/* CALLBAK  SECTION START*/

.order-callbak {
    margin: 0px;
    background-color: $background-color_5;
}
.callbak-content {
    width: 1200px;
    height: 134px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;
}
.callbak {
    width: 1200px;
    height: 134px;
    display: inline-flex;

  &__header {
    width: 212px;
    height: 23px;
    padding: 54px 139px 57px 0px;
    margin: 0px;
    font-size: 30px;
    text-align: left;
    font-family: $font-family_4;
    font-size: 30px;
    color: $color_7;
    text-align: left;
    font-weight: 600;
}
  &__name {
    width: 335px;
    height: 42px;
    margin: 46px 19px 46px 0px;
    font-size: 14px;
    color: $color_18;
    background-color: $background-color_10;
    text-align: left;
    border-radius: 26px;
    border: 0px;
    padding-left: 28px;
    outline: none;
    &::placeholder {
        color: $color_19;
    }
    }
    
    &__phone {
    &::placeholder {
        color: $color_19;
    }
    width: 335px;
    height: 42px;
    margin: 46px 20px 46px 0px;
    font-size: 14px;
    color: $color_18;
    background-color: $background-color_10;
    text-align: left;
    border-radius: 26px;
    border: 0px;
    padding-left: 28px;
    outline: none;
}
  &__button {
    width: 140px;
    height: 42px;
    margin: 46px 0px 46px 0px;
    font-size: 13px;
    color: $color_3;
    text-align: left;
    background-color: $background-color_2;
    border-radius: 26px;
    border: 0px;
    text-align: center;
    outline: none;
    &:hover {
        color: $color_5;
        background-color: $background-color_6;
        border: 1px Solid #8d81ac;
    }
}


/*CONTACT INFORM SECTION START*/

.contacts-inform {
    margin: 0px;
}
.contacts-inform-content {
    width: 1200px;
    margin: 0 auto;
    align-content: center;
    padding: 0px 10px 0px 10px;
}
.contacts {
    width: 1200px;
    height: 278px;
    display: inline-flex;
    justify-content: space-between;

  &__name {
    width: 301px;
    height: 278px;
    margin: 0px;
}
  &__name-logo {
    width: 301px;
    height: 44px;
    margin: 0px;
    padding: 59px 0px 24px 0px;
    display: inline-flex;
}
  &__name-logo-img {
    width: 43px;
    height: 41px;
    padding-right: 16px;
    margin: 0px;
}
  &__name-logo-header {
    width: 93px;
    height: 17px;
    padding: 12px 140px 12px 0px;
    font-family: $font-family_1;
    font-size: 24px;
    color: $color_20;
    margin: 0px;
    font-weight: 500;
    span {
        color: $color_21;
    }
}
  &__name-info {
    width: 301px;
    height: 35px;
    padding: 0px 0px 120px 0px;
    font-family: $font-family_1;
    font-size: 14px;
    color: $color_6;
    text-align: left;
    line-height: 22px;
}
  &__links {
    width: 122px;
    height: 278px;
    margin: 0px;
    display: list-item;
    list-style-type: none;
}
  &__links-nav {
    width: 89px;
    height: 16px;
    padding: 61px 33px 23px 0px;
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_22;
    list-style-type: none;
    font-weight: 500;
}
  &__links-li {
    width: 122px;
    height: 106px;
    padding: 0px 0px 68px 0px;
    font-size: 14px;
    display: list-item;
    font-family: $font-family_1;
    font-weight: 500;
    list-style-type: none;
    color: $color_5;
    line-height: 22px;
    li {
        &:hover {
            text-decoration-line: underline;
        }
    }
}
  &__locat {
    width: 221px;
    height: 278px;
    margin: 0px;
    display: list-item;
    list-style-type: none;
}
  &__locat-tell {
    width: 221px;
    height: 22px;
    padding: 63px 0px 15px 0px;
    font-family: $font-family_5;
    font-size: 30px;
    color: $color_23;
    text-align: left;
    margin: 0px;
    font-stretch: 10px;
    font-weight: 600;
}
  &__locat-avilable {
    width: 192px;
    height: 9px;
    padding: 0px 29px 38px 0px;
    font-family: $font-family_6;
    font-size: 12px;
    color: $color_6;
    text-align: left;
    margin: 0px;
    font-weight: 100;
}
  &__locat-city {
    width: 109px;
    height: 15px;
    padding: 0px 82px 20px 0px;
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_8;
    text-align: left;
    margin: 0px;
    font-weight: 500;
}
  &__locat-adress {
    width: 217px;
    height: 36px;
    font-family: $font-family_1;
    font-size: 14px;
    color: $color_6;
    text-align: left;
    padding: 0px 0px 58px 0px;
    margin: 0px;
    font-weight: 400;
    line-height: 21px;
}
  &__info {
    width: 304px;
    height: 278px;
    margin: 0px;
    display: list-item;
    list-style-type: none;
}
  &__info-name {
    width: 30px;
    height: 13px;
    padding: 61px 273px 24px 0px;
    margin: 0px;
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_8;
    text-align: left;
    font-weight: 500;
}
  &__info-text {
    width: 304px;
    height: 103px;
    padding: 0px 0px 74px 0px;
    margin: 0px;
    font-size: 16px;
    font-family: $font-family_1;
    color: $color_6;
    text-align: left;
    line-height: 24px;
    font-stretch: ultra-expanded;
    letter-spacing: 0.3px;
}
}
}